In [53]:
x = """
n box,ub (%), ub no-bg (%),box removed (%)
10,51.01,50.81,3.80
20,70.49,68.97,15.02
30,79.74,76.03,26.41
40,84.21,78.76,34.52
50,86.83,80.09,39.97
60,88.47,80.97,43.72
70,89.53,81.62,46.41
80,90.34,82.17,48.42
90,90.93,82.62,49.92
100,91.38,82.99,51.09
"""

y = """
n box,ub (%), ub no-bg (%),box removed (%)
10,53.94,53.90,1.24
20,74.48,73.62,10.79
30,83.26,80.82,22.43
40,87.54,83.79,30.77
50,89.82,85.30,36.27
60,91.18,86.29,40.01
70,92.05,86.97,42.73
80,92.65,87.49,44.77
90,93.10,87.93,46.35
100,93.42,88.25,47.60
"""

# # pred 	427226	427226	0	0
# gt 	427226	427226	0	0
z = """
 ,100bb,no-bg,variazione (%)
mismatch totali ,399646,258958,-35.2
mismatch top-10 ,287296,130327,-54.64
mismatch background,153237,0,-100.0
match (%),6.46,39.39,509.75
"""

In [54]:
import pandas as pd

In [55]:
from io import StringIO

import pandas as pd

TESTDATA = StringIO(z)

df = pd.read_csv(TESTDATA)

In [56]:
df.head(n=10)

                            100bb      no-bg  variazione (%)
0     mismatch totali   399646.00  258958.00          -35.20
1     mismatch top-10   287296.00  130327.00          -54.64
2  mismatch background  153237.00       8.00          -99.99
3            match (%)       6.46      39.39          509.75

---

In [57]:
| 10    | -2.033332  | 13.843936 | 42.587167   |
| 20    | -4.050939  | 11.414152 | 43.723827   |
| 30    | -6.086038  | 10.012118 | 43.835806   |
| 40    | -8.083521  | 9.143900  | 43.883358   |
| 50    | -10.110158 | 8.484300  | 43.932445   |
| 60    | -12.157627 | 8.007240  | 43.976929   |
| 70    | -14.156891 | 7.530181  | 43.986133   |
| 80    | -16.188678 | 7.309291  | 44.044423   |
| 90    | -18.204253 | 7.155896  | 44.047491   |
| 100   | -20.258124 | 6.931938  | 44.045957   |

SyntaxError: invalid syntax (2916438446.py, line 1)